<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CONTROL DE EMBARQUES - BAE  Systems</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <script src="@Url.Content("~/Scripts/kendo/2018.1.221/jszip.min.js")"></script>
</head>
<body>
    @Html.Partial("_MainMenu")
    @Html.Partial("_Menu")
    <div class="container" style="min-height:700px;">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("_MainFooter")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
