<nav class="bae-header navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "EnsamblesRealizados")"><h2 class="bae-title"> EMBARQUES </h2></a>
        </div>
        <div class="collapse navbar-collapse bae-area-menu" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Create", "Shipping_Records")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Embarque de Ensambles</a></li>
                        <li><a href="@Url.Action("Index", "Clientes")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Ver Clientes</a></li>
                        <li><a href="@Url.Action("Index", "Ensambles")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Ver Ensambles</a></li>
                        <li><a href="@Url.Action("Index", "EnsamblesRealizados")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Sumario de Embarques</a></li>
                        <li><a href="@Url.Action("Index", "Reportes")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Reportes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


@*<style>
    .k-menu-scroll-wrapper.horizontal li.k-item.k-last {
        border-right-width: 0;
    }
</style>*@
