@model ProyectoEmbarques.Models.Shipping_Catalog_Products
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = " Registra Productos ";
}

<script src="~/Scripts/sweetalert2.all.js"></script>
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="~/Content/sweetalert2.css">
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/fancybox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />

<h2 class="page-header"> @ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="MainForm">
            <div class="row">
                <div class="col-lg-8">
                    <h4>Area</h4>
                    <div class="form-group">
                        @(Html.Kendo().DropDownList()
                                .Name("AreaID")
                                .OptionLabel("Seleccione Area...")
                                .DataTextField("AreaName")
                                .DataValueField("AreaID")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("FillCombobox", "Areas");
                                    })
                                .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width:80%;" }) )
                        <br />
                        @Html.ValidationMessageFor(a => a.AreaID)
                    </div>
                </div>

                <div class="col-lg-8">
                        <h4>Productos</h4>
                        <div class="form-group">
                            @(Html.Kendo().DropDownList()
                                    .Name("ProductName")
                                    .OptionLabel("Seleccione No.Pieza...")
                                    .DataTextField("DATA")
                                    .DataValueField("ProductName")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("FillCombobox", "VIEWDATA");
                                        })
                                    .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width:80%;" }) )
                            <br />
                            @Html.ValidationMessageFor(a => a.ProductName)
                        </div>
                </div>

                <div class="col-lg-8">
                    <h4>Area Interna del Producto</h4>
                    <div class="form-group">
                        @(Html.Kendo().DropDownList()
                                .Name("ProductInternalArea")
                                .OptionLabel("seleccione Area Interna")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "Con Orden de Trabajo", Value = "1" },
                                        new SelectListItem() { Text = "WK o RM", Value = "2" },
                                        new SelectListItem() { Text = "Con Orden TID Serie", Value = "3" } })
                                .HtmlAttributes(new { style = "width:80%;" }) )
                        <br />
                        @Html.ValidationMessageFor(a => a.ProductInternalArea)
                    </div>
                </div>

                <div class="col-lg-8">
                    <h4>Tipo del Producto</h4>
                    <div class="form-group">
                        @(Html.Kendo().DropDownList()
                                .Name("ProductType")
                                .OptionLabel("Seleccione el Tipo")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "FG - Finished Good", Value = "FG - Finished Good" },
                                        new SelectListItem() { Text = "RM - Raw Material", Value = "RM - Raw Material" },
                                        new SelectListItem() {  Text = "WK - Wire Kits", Value = "WK - Wire Kits"}  })
                                .HtmlAttributes(new { style = "width:80%;" }) )
                        <br />
                        @Html.ValidationMessageFor(a => a.ProductType)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <br />
            <center>
                <input type="submit" value="Guardar" class="k-button k-primary" style="width: 20%; height:40px" />
            </center>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
 }

<script>
    $("Mainform").kendoValidator();
</script>

